/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
html, body {
  margin: 0;
  height: 100%; /* Ensure full viewport height */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensure the root container spans the full height */
}

.page-content {
  flex: 1; /* Allow this section to grow and push the footer down */
}
